@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Teste Engegraph!</h1>
    <p>Teste feito por Marcos Henrique, com o objetivo de adimissão na empresa Engegraph!</p>
</div>
